{% extends "employee_register/base.html" %}


{% block content %}


<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<center>
<div class="container-fluid" >
    <div class="row profile">
		<div class="col-md-3" >
			<div class="profile-sidebar"  style="height:350px;width:800px;font-size:40px">
				<!-- SIDEBAR USERPIC -->
				<div class="profile-userpic" >
                    <img src="{{MEDIA_URL}}{{pic.jpg}}" class="img-responsive" alt="">
				</div>
				<!-- END SIDEBAR USERPIC -->
				<!-- SIDEBAR USER TITLE -->
				<div class="profile-usertitle">
					<div class="profile-usertitle-name">
						  {{employee.fname}} {{employee.empid}}
					</div>
					<div class="profile-usertitle-job">
					{{employee.jobtitle}}
					</div>
                    <div class="profile-usertitle-job">
					{{employee.email}}
					</div>
                    <div class="profile-usertitle-job">
					{{employee.depname}}
					</div>
                     <div class="profile-usertitle-job">
					{{employee.reportingmanagername}}
					</div>
				</div>
				<!-- END SIDEBAR USER TITLE -->
				<!-- SIDEBAR BUTTONS -->
				<div class="profile-userbuttons">
					<a href={% url 'employee_update' employee.empid %}  type="button" class="btn btn-success btn-sm"><i class="fa fa-edit"></i> EDIT</a>
					<form  action = {% url 'employee_delete' employee.empid %} method = "post">
                        <a href={% url 'employee_delete' employee.empid %} type="button" class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i> DELETE</a>
                    </form> 
                </div>
				<!-- END SIDEBAR BUTTONS -->
				<!-- SIDEBAR MENU -->
				<div class="profile-usermenu">
					<ul class="nav">
						<li class="active">
							<a href="#">
							<i class="glyphicon glyphicon-home"></i>
							Overview </a>
						</li>
						<li>
							<a href="#">
							<i class="glyphicon glyphicon-user"></i>
							Account Settings </a>
						</li>
						<li>
							<a href="#" target="_blank">
							<i class="glyphicon glyphicon-ok"></i>
							Tasks </a>
						</li>
						<li>
							<a href="#">
							<i class="glyphicon glyphicon-flag"></i>
							Help </a>
						</li>
					</ul>
				</div>
				<!-- END MENU -->
			</div>
		</div>
	</div>
</div>

</center>
<br>
<br>
{% endblock content %}